.headerTitle{
    text-align: left;
}

.container{
    width: 65% !important;
}

.CurrentWeatherIcon {
    width: 100px;
    height: 100px;
    animation-name: sun;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;    
  }

.temptValue{
    font-size: 3.5rem;
    line-height: .96em;
    font-weight: 400;
    padding-left: 20px;
}

.feelsLike{
    padding-left: 20px;
}

.listItem{
    border-top: 0.2px solid rgb(204, 200, 200);
}

.listItemBottom{
    border-bottom: 0.2px solid rgb(204, 200, 200);
}